body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333333;
  overflow: auto;
  height: auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.uiWelcomeBox {
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px #3d3d3d;
  -moz-box-shadow: 0 1px 3px #3d3d3d;
  box-shadow: 0 1px 3px #3d3d3d;
  height: 10%;
  margin-top: 15px;
  width:605px;
}
.uiWelcomeBox .bottom {
  text-align: center;
  padding: 25px 30px;
}
.uiWelcomeBox > h2 {
    text-align: center;
}
.uiWelcomeBox .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 41px;
  text-align: center;
  vertical-align: top;
  width: 100px;
  text-decoration: none;
  border: 1px solid #2f5e92;
  font-family: HelveticaNeue, Arial, sans-serif;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4f80b5;
  background-image: -moz-linear-gradient(top, #6496cd, #2f5e92);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6496cd), to(#2f5e92));
  background-image: -webkit-linear-gradient(top, #6496cd, #2f5e92);
  background-image: -o-linear-gradient(top, #6496cd, #2f5e92);
  background-image: linear-gradient(to bottom, #6496cd, #2f5e92);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6496cd', endColorstr='#ff2f5e92', GradientType=0);
  border-color: #2f5e92 #2f5e92 #1c3958;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f5e92;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.uiWelcomeBox .btn:hover,
.uiWelcomeBox .btn:active,
.uiWelcomeBox .btn.active,
.uiWelcomeBox .btn.disabled,
.uiWelcomeBox .btn[disabled] {
  color: #ffffff;
  background-color: #2f5e92;
  *background-color: #29527f;
}
.uiWelcomeBox .btn:active,
.uiWelcomeBox .btn.active {
  background-color: #23456b \9;
}
.uiWelcomeBox .btn:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #477ab3;
  background-image: -moz-linear-gradient(top, #578dc9, #2f5e92);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#578dc9), to(#2f5e92));
  background-image: -webkit-linear-gradient(top, #578dc9, #2f5e92);
  background-image: -o-linear-gradient(top, #578dc9, #2f5e92);
  background-image: linear-gradient(to bottom, #578dc9, #2f5e92);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff578dc9', endColorstr='#ff2f5e92', GradientType=0);
  border-color: #2f5e92 #2f5e92 #1c3958;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f5e92;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.uiWelcomeBox .btn:hover:hover,
.uiWelcomeBox .btn:hover:active,
.uiWelcomeBox .btn:hover.active,
.uiWelcomeBox .btn:hover.disabled,
.uiWelcomeBox .btn:hover[disabled] {
  color: #ffffff;
  background-color: #2f5e92;
  *background-color: #29527f;
}