#activityComposerConfiguration {
	margin-top: 50px;
}

#activityComposerConfiguration .control-label {
	margin-bottom: 10px;
	font-weight: bold; 
}

#spaceActivityComposerConfiguration select {
	height: 120px;
} 

#spacesWithActivityComposer, #buttons, #spacesWithoutActivityComposer  {
	text-align: center;
    display: inline-block;
    margin: 20px;
}

#buttons button:first-child {
	margin-bottom: 5px;
}

.uiIconNextArrow:before {
    margin-left: 0;
}


.success, .failure, .selectSpaceWarning {
	font-weight: bold;
	margin: 20px;
}

.failure {
	color: red;
}

.selectSpaceWarning {
	color: orange;
}

#userActivityComposerConfiguration {
	margin: 20px;
}

#userActivityComposerConfiguration .control-label {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 0px;
}
#userActivityComposerConfiguration .controls {
    display: inline-block;
}

